<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WakalaList</key>
	<dict>
		<key>created_Date</key>
		<string>created_Date</string>
		<key>contact_number</key>
		<string>contact_number</string>
		<key>contact_person</key>
		<string>contact_person</string>
		<key>created</key>
		<string>created</string>
		<key>device_id</key>
		<string>device_id</string>
		<key>device_type</key>
		<string>device_type</string>
		<key>email</key>
		<string>email</string>
		<key>image_before_url</key>
		<string>image_before_url</string>
		<key>location</key>
		<string>location</string>
		<key>mobile_number</key>
		<string>mobile_number</string>
		<key>modified</key>
		<string>modified</string>
		<key>name</key>
		<string>name</string>
		<key>pin</key>
		<string>pin</string>
		<key>reference_number</key>
		<string>reference_number</string>
		<key>role_id</key>
		<string>role_id</string>
		<key>status</key>
		<string>status</string>
		<key>wakala_id</key>
		<string>wakala_id</string>
		<key>city</key>
		<string>city</string>
		<key>beneficiary_name</key>
		<string>beneficiary_name</string>
		<key>buisness_code</key>
		<string>buisness_code</string>
		<key>activation_key</key>
		<string>activation_key</string>
		<key>bank_account_number</key>
		<string>bank_account_number</string>
		<key>bank_id</key>
		<string>bank_id</string>
		<key>bank_ifsc</key>
		<string>bank_ifsc</string>
		<key>bank_name</key>
		<string>bank_name</string>
	</dict>
	<key>City</key>
	<dict>
		<key>city_id</key>
		<string>id</string>
		<key>city_name</key>
		<string>city_name</string>
	</dict>
	<key>Bank</key>
	<dict>
		<key>bank_display_name</key>
		<string>bank_display_name</string>
		<key>bank_id</key>
		<string>id</string>
		<key>bank_name</key>
		<string>bank_name</string>
	</dict>
</dict>
</plist>
